/*	Authors: Coby Allred & Cathy McIntosh
	Section: CS337 Section 001
    Description: Stylesheet for a simple chat interface
    where chat bubbles are arranged vertically and the send
    button is slightly fancier than a normal button. This also controls
    hover behavior and flow structure of navigations.
*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

label {
    font-weight: bold;
}

.typing {
    font-style: italic;
}

h2, #status {
    overflow: hidden;
    background-color: white;
    position: sticky;
    top: 0;
    text-align: center;
    width: 100%;
}

h2, #message-panel {
    border: 2px solid darkgray;
}

#container > div, button, #conversations div, #messages div, #input-container {
    padding: 10px;
}

#conversations-panel {
    font-size: 20px;
    width: 30%;
}

#message-panel {
    height: 750px;
    width: 70%;
    margin: auto;
}

#messages, #input {
    overflow-y: auto;
}

.conversation:hover, button:hover, .user {
    background-color: aquamarine;
}

button, .other {
    background-color: lightgray;
}

#input {
    display: flex;
    padding-top:10px;
}

#input-container, button {
    margin: 10px;
}

button {
    border-radius: 10px;
    border-style: none;
}

textarea {
    overflow-y: scroll;
    resize: none; 
    width: 80%;
}

#messages > div:not(#place) {
    border-radius: 20px;
    margin-bottom: 20px;
    width: fit-content;
}

.user {
    text-align: right;
    margin-left: auto;
}

.other {
    text-align: left;
}

#messages {
    height: 80%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: lightblue; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
